<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citas</title>
</head>
<body>
    <h2>Administrador de Citas</h2>
    <div>
        <div id="contenido">
            <div>
                <form id="nueva-cita">
                    <legend>Datos del Cliente</legend>
                    <div>
                        <label>Nombre:</label>
                        <div>
                            <input type="text" id="nombre" name="nombre" placeholder="Nombre">
                        </div>
                    </div>
                    <div>
                        <label>Apellidos:</label>
                        <div>
                            <input type="text" id="apellido" name="apellido"  placeholder="Apellidos">
                        </div>
                    </div>
                    <div>
                        <label>Teléfono:</label>
                        <div>
                            <input type="tel" id="telefono" name="telefono"  placeholder="Número de Teléfono">
                        </div>
                    </div>
                    <div>
                        <label>Fecha:</label>
                        <div>
                            <input type="date" id="fecha" name="fecha">
                        </div>
                    </div>

                    <div>
                        <label>Hora:</label>
                        <div>
                            <input type="time" id="hora" name="hora">
                        </div>
                    </div>

                    <div>
                        <label>Comentarios:</label>
                        <div>
                            <textarea id="comentarios" name="comentarios"></textarea>
                        </div>
                    </div>
                    <div>
                            <button type="submit">Crear Cita</button>
                    </div>
                </form>
            </div>
            <div>
                <h2 id="administra">Administra tus Citas</h2>
                <ul id="citas"></ul>
            </div>
        </div> <!--.row-->
    </div><!--.container-->
</body>
</html>