<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/Cotizador.css">
    <link rel="stylesheet" href="css/normalize.css">
    <title>Cotizador</title>
</head>
<body>
    <div>
        <div>
              <header>
                  <h1>Cotiza tus productos</h1>
              </header>
                  <form>
                          <div>
                              <label
                                for="marca"
                              >Producto:</label>
                              <select id="marca">
                                  <option value="">- Seleccionar -</option>
                                  <option value="1">Esmaltes</option>
                                  <option value="2">Decoraciones</option>
                                  <option value="3">Herramientas</option>
                              </select>
                          </div>
                          <div>
                            <label for="minimo">Precio Min</label>
                            <selectid="minimo">
                                    <option value="">Seleccione</option>
                                    <option value="20000">20,000</option>
                                    <option value="30000">30,000</option>
                                    <option value="40000">40,000</option>
                                    <option value="50000">50,000</option>
                                    <option value="60000">60,000</option>
                                    <option value="70000">70,000</option>
                                    <option value="80000">80,000</option>
                                    <option value="90000">90,000</option>
                            </select>
                        </div>
                        <div>
                            <label for="maximo">Precio Max</label>
                            <select id="maximo">
                                    <option value="">Seleccione</option>
                                    <option value="20000">20,000</option>
                                    <option value="30000">30,000</option>
                                    <option value="40000">40,000</option>
                                    <option value="50000">50,000</option>
                                    <option value="60000">60,000</option>
                                    <option value="70000">70,000</option>
                                    <option value="80000">80,000</option>
                                    <option value="90000">90,000</option>
                            </select>
                          <fieldset>
                                <legend>Tipo Producto</legend>
  
                                <div>
                                    <div>
                                        <label>Full Kit</label>
                                            <input type="radio" name="tipo" value="basico" checked>
                                        </label>
                                    </div>
                                    <div>
                                        <label class="font-bold  uppercase mr-2">Basico</label>
                                            <input type="radio" name="tipo" value="completo">
                                        </label>
                                    </div>
                                </div>
                        </fieldset>
                    <div id="resultado"></div>
                    <div>
                        <button 
                          type="submit" 
                          >Cotizar Seguro
                      </button>
                    </div>
   
                  </form> 
        </div> <!--#contenido-->
  </div>
</body>
</html>